@media screen and (max-width:768px){
    .hero-div{
        height: auto;
    }
    nav{
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        background-color: gray;
    }
    .logo-div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menuicon{
        display: inline-block;
        color: white;
        margin-right: 20px;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
        
    }
    .navitems{
        height: 50px;
        width: 100%;
    }
     .navitems a{
          font-size: 1em;
     }
     .hero-text{
         position: static;
         padding: 100px 20px;
     }

     /* ========================About-div======================== */
     .about-div{
            margin:100px 10px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;
        }
    /*========================Services div============================*/
    .row-offer{
            padding: 50px 30px;
            display: grid ;
            grid-template-columns: 1fr;
            gap: 30px;
        } 
    /*=======================review-div=================================*/
    .review-div{
         margin-top: 50px;
         padding: 20px;
    }    
    .review-row{
          flex-direction: column;
    } 
    .review-col{
    padding-right: 0px;
}  
/*===========================blog ================================*/
.blog{
    margin-top: 100px;
    padding: 0px 10px;
}
.blog-row{
   
    grid-template-columns: 1fr;
    
}
/*================================Contact us==========================*/
.contact-us{
    margin-top: 100px;
    padding: 0px 10px;
}
.form-div{
    padding: 0px 20px;
}
}

