*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-div{
    position: relative;
    height: 700px;
    width: 100%;
    background-image: url(images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menuicon{
    display: none;
    color: white;
}
nav{
    height: 80px;
    background-color: transparent;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    font-size: 2em;
    color: white;
    font-weight: bolder;
}
 .navbar{
      display: flex;
      gap:20px
 }
 .navitems{
    padding: 0px 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .navitems:hover{
    background-color: red;
 }
 .navitems a{
     font-size: 1.5em;
     color: white;
     text-transform: uppercase;
     text-decoration: none;
 }
 .active{  
    background-color: red;
}
.hero-text{
    position: absolute;
    padding: 100px;
    color: white; 
    display: flex;
    flex-direction: column;
    gap: 50px;
    animation-name: hero-text-move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    
}
.hero-text h1{
      font-size: 4em;
      font-weight: bolder;
}
.btn-red{
    padding: 20px 30px;
    background-color: red;
     color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
   
}
.btn-white{
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 1em;
}
.btn-white:hover{
    background-color: red;
     color: white;
}

@keyframes hero-text-move {
    0%{
        transform: translateX(100%);
    }
    100%{
         transform: translateX(0%);
    }
    
}
/*===========================Genral classes=====================*/

.sub-hed{
       font-size: 2.5em;
       color: rgb(49, 49, 49);
       text-transform: uppercase;
}
.border-red-btn{
    padding: 10px 20px;
     border: 2px solid red;
     background-color: white;
     color: red;
     border-radius: 10px;
     font-size: 1em;
}
/* =========================About -div====================================== */
.about-div{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-div h3{
    font-size: 1.5em;
    font-weight: lighter;
     color: rgb(49, 49, 49);
}
.about-text{
    
     padding-right: 20px;
     display: flex;
     flex-direction: column;
     gap: 30px;
     font-size: 1em;
}

.about-img img{
     width: 100%;;
}
/* ==================================Services========================= */
.row-offer{
    padding: 50px;
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.col{
    background-color: blue;
    height: 200px;
    width: 100%;
}