*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-div{
    position: relative;
    height: 700px;
    width: 100%;
    background-image: url(images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menuicon{
    display: none;
    color: white;
}
nav{
    height: 80px;
    background-color: transparent;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    font-size: 2em;
    color: white;
    font-weight: bolder;
}
 .navbar{
      display: flex;
      gap:20px
 }
 .navitems{
    padding: 0px 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .navitems:hover{
    background-color: red;
 }
 .navitems a{
     font-size: 1.5em;
     color: white;
     text-transform: uppercase;
     text-decoration: none;
 }
 .active{  
    background-color: red;
}
.hero-text{
    position: absolute;
    padding: 100px;
    color: white; 
    display: flex;
    flex-direction: column;
    gap: 50px;
    animation-name: hero-text-move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    
}
.hero-text h1{
      font-size: 4em;
      font-weight: bolder;
}
.btn-red{
    padding: 20px 30px;
    background-color: red;
     color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
   
}
.btn-white{
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 1em;
}
.btn-white:hover{
    background-color: red;
     color: white;
}

@keyframes hero-text-move {
    0%{
        transform: translateX(100%);
    }
    100%{
         transform: translateX(0%);
    }
    
}
/*===========================Genral classes=====================*/

.sub-hed{
       font-size: 2.5em;
       color: rgb(49, 49, 49);
       text-transform: uppercase;
}
.border-red-btn{
    padding: 10px 20px;
     border: 2px solid red;
     background-color: white;
     color: red;
     border-radius: 10px;
     font-size: 1em;
}
/* =========================About -div====================================== */
.about-div{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-div h3{
    font-size: 1.5em;
    font-weight: lighter;
     color: rgb(49, 49, 49);
}
.about-text{
    
     padding-right: 20px;
     display: flex;
     flex-direction: column;
     gap: 30px;
     font-size: 1em;
}

.about-img img{
     width: 100%;;
}
/* ==================================Services========================= */
.row-offer{
    padding: 50px 100px;
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.col{
    background-color: blue;
    /* height: 200px; */
    width: 100%;
}
.div-img{
    height: 250px;
}
.div-img img{
    height: 100%;
    width: 100%;
}
.div-text{
    padding: 20px 20px;
    background-color:rgb(62, 38, 38);
    color: white;
    display:flex ;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.div-text p{
    font-size: 12px;
}
.div-text button{
    padding:  10px 20px;
      color: white;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
}
.div-text:hover{
    background-color: red;
}
/*=========================review-div=========================*/
.review-div{
    margin-top: 100px;
    padding: 0px 100px;
}
.review-row{
    margin-top: 50px;
     display: flex;
     gap: 50px;

}
.review-col{
    padding-right: 150px;
}
.review-col h3{
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
}
/*====================================blog====================*/
.blog{
    margin-top: 100px;
    padding: 0px 100px;
}
.blog-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;
}
.card{
    box-shadow: 3px 3px  5px gray;
}
.blog-img{
    position: relative;
}
.blog-date{
    padding: 20px 10px;
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
   
}
.card img{
   
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}
.blog-text{
    padding: 20px;

}
.blog-col button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}
/* ============================Contact us form================= */
.contact-us{
    margin-top: 100px;
    padding: 0px 100px;
}
.form-div{
    padding: 0px 250px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.form-div form{
    
    width: 100%;
}
.form-group{
    margin:20px 0px;
     
}
.form-group input,textarea{
    width: 100%;
    padding: 15px 30px;
    border: none;
    background-color: rgb(209, 203, 203);
    border-radius: 20px;
    color: black;
}
.form-group button{
     margin:  0 auto;
    display: block;
}

.g-map{
    margin-top: 100px;
}


.footer{
    padding: 100px 0px;
   
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    position: static;
}
.icon-outer{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
     justify-content: center;
}
.icon-div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.icon-div:hover{
    border: 1px solid red;
    color: red;
}

.contact-details{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.spanhover :hover{
    color: red;
}
.contact-form{
   
    width: 100%;
    display: flex;
    gap: 0;
}
#txt1{
    width:400px;
    padding: 20px 30px;
    border:2px solid red
}
.contact-form button{
     padding: 10px 10px;
     background-color: red;
     color: white;
     border: none;
}
.red-div{
    background-color: red;
    padding: 20px 0px;
    color: white;
    text-align: center;
}

